<div class="bg-gradient-to-r from-pink-500 to-purple-500 p-8 font-sans rounded-md">
    <div class="container mx-auto">
        <h2 class="text-4xl font-bold text-white mb-8">Statistics</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white rounded-lg shadow-md p-6">
                <div
                    class="flex items-center justify-center bg-gradient-to-r from-blue-500 to-indigo-500 rounded-full p-3 w-16 h-16">
                    <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <div class="mt-4">
                    <p class="text-lg font-semibold text-gray-800">Total Events</p>
                    <p class="text-gray-600 text-sm mt-1">1,200</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-6">
                <div
                    class="flex items-center justify-center bg-gradient-to-r from-green-500 to-teal-500 rounded-full p-3 w-16 h-16">
                    <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <div class="mt-4">
                    <p class="text-lg font-semibold text-gray-800">Revenue</p>
                    <p class="text-gray-600 text-sm mt-1">$50,000</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-6">
                <div
                    class="flex items-center justify-center bg-gradient-to-r from-yellow-500 to-orange-500 rounded-full p-3 w-16 h-16">
                    <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <div class="mt-4">
                    <p class="text-lg font-semibold text-gray-800">Issues</p>
                    <p class="text-gray-600 text-sm mt-1">5</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white rounded-md shadow-lg">
    <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="card bg-white rounded-lg shadow-md">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
        <div class="card bg-white rounded-lg shadow-md">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
</div>