<div class="relative h-screen font-sans">
    <img src="https://readymadeui.com/cardImg.webp" alt="Banner Image"
        class="absolute inset-0 w-full h-full object-cover" />
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative z-10 h-full flex flex-col justify-center items-center text-center text-white p-6">
        <h2 class="sm:text-4xl text-2xl font-bold mb-6">Explore the World</h2>
        <p class="sm:text-lg text-base text-center text-gray-200">Embark on unforgettable journeys. Book your dream
            vacation today!</p>
        <button type="button" routerLink="/landing-page"
            class="mt-12 bg-transparent text-white text-base py-3 px-6 border border-white rounded-lg hover:bg-white hover:text-black transition duration-300">
            Home </button>
    </div>
</div>