<!-- role-requests.component.html -->
<div class="font-[sans-serif] overflow-x-auto mt-2">
    <div class="flex items-center justify-between p-4 bg-white">
        <h1 class="text-2xl font-semibold text-gray-800">Manage Role Requests</h1>
    </div>
    <div *ngIf="confirmationModel"
        class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-40 before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]">
        <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-6 relative">
            <i class="pi pi-times text-red-600 absolute top-2 right-2 cursor-pointer" (click)="closeModal()"></i>

            <div class="my-4 text-center">
                <i class="pi"
                    [ngClass]="{'pi-check-circle': actionType === 'approve', 'pi-exclamation-circle': actionType === 'delete'}"
                    [ngClass]="{'text-green-800': actionType === 'approve', 'text-red-600': actionType === 'delete'}"
                    class="text-4xl"></i>

                <h4 class="text-gray-800 text-base font-semibold mt-4">
                    Are you sure you want to {{ actionType === 'approve' ? 'approve' : 'delete' }} this request?
                </h4>

                <div class="text-center space-x-4 mt-8">
                    <button type="button" (click)="closeModal()"
                        class="px-4 py-2 rounded-lg text-gray-800 text-sm bg-gray-200 hover:bg-gray-300 active:bg-gray-200">Cancel</button>
                    <button type="button" (click)="confirmAction()"
                        class="px-4 py-2 rounded-lg text-white text-sm bg-green-400 hover:bg-green-300 active:bg-green-600">Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table class="min-w-full bg-white">
        <thead class=" bg-gray-800 whitespace-nowrap">
            <tr>
                <th class="p-4 text-left text-sm font-semibold text-white">Name</th>
                <th class="p-4 text-left text-sm font-semibold text-white">Role</th>
                <th class="p-4 text-left text-sm font-semibold text-white">Active</th>
                <th class="p-4 text-left text-sm font-semibold text-white">Action</th>
            </tr>
        </thead>
        <tbody class="whitespace-nowrap">
            <tr class="odd:bg-blue-50" *ngFor="let rolerequest of roleRequests">
                <td class="p-4 text-sm">
                    <div class="flex items-center cursor-pointer w-max">
                        <img [src]="rolerequest.user.profileImage || 'profilepic.svg'"
                            class="w-9 h-9 rounded-full shrink-0" />
                        <div class="ml-4">
                            <p class="text-sm text-black">{{rolerequest.user.firstname}}, {{rolerequest.user.lastname}}
                            </p>
                            <p class="text-xs text-gray-500 mt-0.5">{{rolerequest.user.email}}</p>
                        </div>
                    </div>
                </td>
                <td class="p-4 text-sm text-black">{{rolerequest.user.role}}</td>
                <td class="p-4">
                    <label class="relative cursor-pointer">
                        <input type="checkbox" class="sr-only peer" [checked]="rolerequest.approved"
                            [disabled]="isCheckboxDisabled(rolerequest.approved)"
                            (change)="onCheckboxChange($event, rolerequest.id)" />
                        <div
                            class="w-11 h-6 flex items-center bg-gray-300 rounded-full peer peer-checked:after:translate-x-full after:absolute after:left-[2px] peer-checked:after:border-white after:bg-white after:border after:border-gray-300 after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#007bff]">
                        </div>
                    </label>
                </td>
                <td class="p-4">
                    <button class="mr-4" title="Edit">
                        <i class="pi pi-pen-to-square text-blue-500 text-xl hover:text-blue-700"></i>
                    </button>
                    <button title="Delete" (click)="confirmDeleteRole(rolerequest.id)">
                        <i class="pi pi-trash text-red-500 text-xl hover:text-red-700"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>



    <div class="md:flex m-4">
        <p class="text-sm text-gray-500 flex-1">Showind 1 to 5 of 100 entries</p>

        <div class="flex items-center max-md:mt-4">
            <p class="text-sm text-gray-500">Display</p>
            <select class="text-sm text-gray-500 border border-gray-400 rounded h-7 mx-4 px-1 outline-none">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>

            <ul class="flex space-x-1 ml-2">
                <li class="flex items-center justify-center cursor-pointer bg-blue-100 w-7 h-7 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-500" viewBox="0 0 55.753 55.753">
                        <path
                            d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1 1.572-3.911z"
                            data-original="#000000" />
                    </svg>
                </li>
                <li class="flex items-center justify-center cursor-pointer text-sm w-7 h-7 text-gray-500 rounded">
                    1
                </li>
                <li
                    class="flex items-center justify-center cursor-pointer text-sm bg-[#007bff] text-white w-7 h-7 rounded">
                    2
                </li>
                <li class="flex items-center justify-center cursor-pointer text-sm w-7 h-7 text-gray-500 rounded">
                    3
                </li>
                <li class="flex items-center justify-center cursor-pointer text-sm w-7 h-7 text-gray-500 rounded">
                    4
                </li>
                <li class="flex items-center justify-center cursor-pointer bg-blue-100 w-7 h-7 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-500 rotate-180"
                        viewBox="0 0 55.753 55.753">
                        <path
                            d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1 1.572-3.911z"
                            data-original="#000000" />
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</div>