<div class="container mx-auto">
    <app-notifications [show]="showNotification" [message]="notificationMessage" [type]="notificationType"
        (close)="closeNotification()">
    </app-notifications>
    <div class="flex justify-center px-6 my-12">
        <!-- Row -->
        <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <!-- Col -->
            <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg"
                style="background-image: url('Forgot password-cuate.svg')"></div>
            <!-- Col -->
            <div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none">
                <div class="px-8 mb-4 text-center">
                    <h3 class="pt-4 mb-2 text-2xl">
                        {{ showResetFields ? 'Reset Your Password' : 'Forgot Your Password?' }}
                    </h3>
                    <p class="mb-4 text-sm text-gray-700">
                        {{ showResetFields
                        ? 'Enter the code we sent to your email and your new password below.'
                        : 'We get it, stuff happens. Just enter your email address below and we\'ll send you a link to
                        reset your password!' }}
                    </p>
                </div>
                <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
                    <div *ngIf="!showResetFields">
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                                Email
                            </label>
                            <input
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="email" type="email" placeholder="Enter Email Address..."
                                [(ngModel)]="passwordResetData.email" name="email" />
                        </div>
                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-red-700 focus:outline-none focus:shadow-outline"
                                type="button" (click)="requestPasswordReset()">
                                Reset Password
                            </button>
                        </div>
                    </div>
                    <div *ngIf="showResetFields">
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="resetCode">
                                Reset Code
                            </label>
                            <input
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="resetCode" type="text" placeholder="Enter Reset Code..."
                                [(ngModel)]="passwordResetData.resetCode" name="resetCode" />
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="newPassword">
                                New Password
                            </label>
                            <input
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                id="newPassword" type="password" placeholder="Enter New Password..."
                                [(ngModel)]="passwordResetData.newPassword" name="newPassword" />
                        </div>
                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-red-700 focus:outline-none focus:shadow-outline"
                                type="button" (click)="resetPassword()">
                                Submit New Password
                            </button>
                        </div>
                    </div>
                    <hr class="mb-6 border-t" />
                    <div class="text-center">
                        <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                            routerLink="/register">
                            Create an Account!
                        </a>
                    </div>
                    <div class="text-center">
                        <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                            routerLink="/login">
                            Already have an account? Login!
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>