<app-navbar></app-navbar>
<div class="slideshow-container">
    <div *ngFor="let slide of slides; let i = index" class="mySlides">
        <img [src]="slide.image" [alt]="'Slide ' + (i + 1)">
    </div>
</div>
<div class="dot-container">
    <span *ngFor="let slide of slides; let i = index" class="dot" [ngClass]="{'active': i === slideIndex}"
        (click)="currentSlide(i)"></span>
</div>
<section class="mt-2">
    <div class="flex justify-center w-full items-center mb-4">
        <h1 class="text-center text-3xl font-semibold w-96">Upcoming Events</h1>
        <div class="flex items-center relative ml-4">
            <input type="text" class="px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none"
                placeholder="Search..." />
            <button class="absolute right-0 inset-y-0 flex items-center pr-3">
                <i class="pi pi-search"></i>
            </button>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-6 px-4 py-8 mx-auto sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-w-screen-xl">
        <div *ngFor="let event of events"
            class="flex flex-col  cursor-pointer justify-between max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 hover:shadow-lg transition-shadow duration-300">
            <a>
                <img *ngIf="event.image" class="rounded-t-lg w-full max-h-48 object-cover" [src]="event.image"
                    alt="Event 1" />
                <div *ngIf="!event.image" class="rounded-t-lg w-full max-h-48 h-48 bg-gray-200 dark:bg-gray-700"></div>
            </a>
            <div class="p-4 flex-grow">
                <a href="#">
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{event.name}}</h5>
                </a>
                <div class="flex items-center mb-3 gap-2">
                    <i class="pi pi-home text-sky-400"></i>
                    <p class="font-semibold text-gray-700 dark:text-gray-400">{{event.location}}</p>
                </div>
                <div class="flex items-center mb-3 gap-2">
                    <i class="pi pi-calendar text-sky-400"></i>
                    <p class="text-gray-500">{{event.date | date}}</p>
                </div>
                <div class="flex items-center mb-3 gap-2">
                    <i class="pi pi-clock text-sky-400"></i>
                    <p class="text-gray-500">{{event.eventTime}}</p>
                </div>
                <div class="flex items-center mb-3 gap-2">
                    <i class="pi pi-users text-sky-400"></i>
                    <p class="text-gray-500">8 spaces available</p>
                </div>
            </div>
            <div class="p-2 flex justify-center">
                <a (click)="getSingleEvent(event.id)"
                    class="inline-flex items-center justify-center w-60 px-3 py-2 text-xs font-medium text-center text-white bg-purple-600 rounded-lg hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:bg-purple-500 dark:hover:bg-purple-600 dark:focus:ring-purple-800">
                    Book
                </a>
            </div>
        </div>
    </div>
</section>