.slideshow-container {
  width: 100%;
  position: relative;
  height: 300px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 0; /* Add this line */
}
.slideshow-container::-webkit-scrollbar {
  display: none; /* WebKit */
}

.mySlides {
  flex: 0 0 100%; /* Each slide occupies 100% width of the container */
  scroll-snap-align: start;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

img {
  width: 100%; /* Image width set to 100% of its parent (.mySlides) */
  height: 100%; /* Maintain aspect ratio and fit fully within the container */
  object-fit: contain; /* Ensure the image fits within while preserving aspect ratio */
  border-radius: 10px;
}

.prev,
.next {
  display: none; /* Hide navigation arrows */
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.numbertext {
  display: none; /* Hide slide numbers */
}

.dot-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
