<app-navbar></app-navbar>
<section class="bg-white mt-2">
    <div class="flex justify-center w-full items-center mb-2">
        <h1 class="text-center text-3xl font-semibold w-96">My Tickets</h1>
        <div class="flex items-center relative">
            <input type="text" class="px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none"
                placeholder="search ..." />
            <button class="absolute right-0 inset-y-0 flex items-center pr-3">
                <i class="pi pi-search"></i>
            </button>
        </div>
    </div>
    <div class="flex max-w-screen-xl mx-auto gap-4 px-4 py-8">
        <!-- Side Navigation -->
        <div class="w-1/4 bg-gray-100 p-4 rounded-md shadow-md">
            <ul>
                <li class="mb-4">
                    <a (click)="selectSection('confirmed')" [class.text-blue-600]="selectedSection === 'confirmed'"
                        class="block font-semibold text-gray-700 cursor-pointer hover:text-sky-400">Upcoming</a>
                </li>
                <li class="mb-4">
                    <a (click)="selectSection('past')" [class.text-blue-600]="selectedSection === 'past'"
                        class="block font-semibold text-gray-700 cursor-pointer hover:text-sky-400">Past Events</a>
                </li>
                <li class="mb-4">
                    <a (click)="selectSection('cancelled')" [class.text-blue-600]="selectedSection === 'cancelled'"
                        class="block font-semibold text-gray-700 cursor-pointer hover:text-sky-400">Cancelled</a>
                </li>
            </ul>
        </div>

        <!-- Ticket Details -->
        <div class="w-3/4">
            <!-- Ticket Table -->
            <div class="bg-gray-200 p-2 rounded-lg shadow-md">
                <div class="relative overflow-x-auto">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-800 whitespace-nowrap">
                            <tr>
                                <th class="p-4 text-left text-sm font-medium text-white">
                                    Ticket Number
                                </th>
                                <th class="p-4 text-left text-sm font-medium text-white">
                                    Event Name
                                </th>
                                <th class="p-4 text-left text-sm font-medium text-white">
                                    Event Date
                                </th>
                                <th class="p-4 text-left text-sm font-medium text-white">
                                    Ticket Type
                                </th>
                                <th class="p-4 text-left text-sm font-medium text-white">
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tbody class="whitespace-nowrap">
                            <tr *ngFor="let booking of getFilteredTickets()" class="even:bg-blue-50">
                                <td class="p-4 text-sm text-black">
                                    {{ booking.ticketNumber }}
                                </td>
                                <td class="p-4 text-sm text-black">
                                    {{ booking.event.name }}
                                </td>
                                <td class="p-4 text-sm text-black">
                                    {{ booking.event.date| date:'yyyy-MM-dd' }}
                                </td>
                                <td class="p-4 text-sm text-black">
                                    {{ booking.ticketType }}
                                </td>
                                <td class="p-4">
                                    <button *ngIf="booking.canEdit" class="mr-4" title="Edit"
                                        (click)="editTicket(booking)">
                                        <i class="pi pi-pencil w-5 text-blue-500 hover:text-blue-700"></i>
                                    </button>
                                    <button *ngIf="booking.canCancel" class="mr-4" title="Cancel"
                                        (click)="cancelTicket(booking)">
                                        <i class="pi pi-times-circle w-5 text-yellow-500 hover:text-yellow-700"></i>
                                    </button>
                                    <button title="Download"
                                        class="relative px-2 py-2 bg-green-500 hover:bg-green-700 text-white rounded-md"
                                        (click)="downloadTicket(booking)">
                                        <i class="pi pi-download"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>