<div class="bg-slate-50">
    <div class="font-sans overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-100 whitespace-nowrap">
                <tr>
                    <th class="p-4 text-left text-xs font-semibold text-gray-800">
                        Event Name
                    </th>
                    <th class="p-4 text-left text-xs font-semibold text-gray-800">
                        Planner Email
                    </th>
                    <th class="p-4 text-left text-xs font-semibold text-gray-800">
                        Event Image
                    </th>
                    <th class="p-4 text-left text-xs font-semibold text-gray-800">
                        Created At
                    </th>
                    <th class="p-4 text-left text-xs font-semibold text-gray-800">
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody class="whitespace-nowrap">
                <tr class="hover:bg-gray-50">
                    <td class="p-4 text-[15px] text-gray-800">
                        John Doe
                    </td>
                    <td class="p-4 text-[15px] text-gray-800">
                        john.com
                    </td>
                    <td class="p-4 text-[15px] text-gray-800">
                        Admin
                    </td>
                    <td class="p-4 text-[15px] text-gray-800">
                        2022-05-15
                    </td>
                    <td class="p-4">
                        <button class="mr-4" title="Edit">
                            <i class="pi pi-pen-to-square w-5 text-xl text-blue-500 hover:text-blue-700"></i>
                        </button>
                        <button class="mr-4" title="Delete">
                            <i class="pi pi-trash w-5 text-red-500 text-xl hover:text-red-700"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="flex space-x-4 justify-center">
            <li class="flex items-center justify-center shrink-0 bg-gray-300 w-10 h-10 rounded-full">
                <i class="pi pi-angle-left w-5 text-xl text-gray-800"></i>
            </li>
            <li
                class="flex items-center justify-center shrink-0 bg-blue-500  border-2 border-blue-500 cursor-pointer text-base font-bold text-white w-10 h-10 rounded-full">
                1
            </li>
            <li
                class="flex items-center justify-center shrink-0 hover:bg-gray-50  border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-full">
                2
            </li>
            <li
                class="flex items-center justify-center shrink-0 hover:bg-gray-50  border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-full">
                3
            </li>
            <li
                class="flex items-center justify-center shrink-0 hover:bg-gray-50  border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-full">
                4
            </li>
            <li
                class="flex items-center justify-center shrink-0 hover:bg-gray-50 border-2 cursor-pointer w-10 h-10 rounded-full">
                <i class="pi pi-angle-right w-5 text-xl text-gray-800"></i>
            </li>
        </ul>
    </div>
</div>