<nav class="fixed top-0 z-50 w-full bg-violet-200 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                    type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                        </path>
                    </svg>
                </button>
                <a class="flex ms-2 md:me-24">
                    <img src="logo.png" class="h-8 me-3" />
                    <span
                        class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Planner</span>
                </a>
            </div>
            <div class="flex items-center">
                <div class="flex items-center ms-3">
                    <div class="flex items-center">
                        <button type="button"
                            class="flex text-sm items-center bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                            aria-expanded="false" data-dropdown-toggle="dropdown-user">
                            <span class="sr-only">Open user menu</span>
                            <img [src]="user.profileImage ? user.profileImage : 'profilepic.svg'"
                                class="w-12 h-12 rounded-full" alt="user photo">
                        </button>
                        <i class="pi pi-angle-down text-blue-500"></i>
                    </div>
                    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                        id="dropdown-user">
                        <div class="px-4 py-2" role="none">
                            <p class="text-sm text-gray-900 dark:text-white" role="none">
                                {{user.email}}
                            </p>
                        </div>
                        <ul class="py-1" role="none">
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                    role="menuitem">Settings</a>
                            </li>

                            <li>
                                <a href="#"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                    role="menuitem">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-blue-900 border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
    aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-blue-900 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a routerLink="dashboard"
                    class="flex items-center p-2 text-gray-100 font-semibold rounded-lg  dark:text-white hover:bg-white hover:text-red-500 dark:hover:bg-gray-700 group">
                    <i
                        class="pi pi-gauge  w-5 text-2xl  text-gray-100 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="events"
                    class="flex items-center p-2 text-gray-100 font-semibold rounded-lg dark:text-white hover:bg-gray-100 hover:text-red-500 dark:hover:bg-gray-700 group">
                    <i
                        class="pi pi-calendar  w-5 text-2xl  text-gray-100 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Events</span>
                </a>
            </li>
            <li>
                <a routerLink="inbox"
                    class="flex items-center p-2 text-gray-100 font-semibold rounded-lg hover:text-red-500 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i
                        class="pi pi-inbox w-5 text-2xl  text-gray-100 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Inbox</span>
                    <span
                        class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
                </a>
            </li>
            <li>
                <a routerLink="client"
                    class="flex items-center p-2 text-gray-100 font-semibold hover:text-red-500 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i
                        class="pi pi-users  w-5 text-2xl  text-gray-100 transition duration-75 dark:text-gray-400 group-hover:text-red-500 dark:group-hover:text-white"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Clients</span>
                </a>
            </li>
            <li>
                <a routerLink="profile"
                    class="flex items-center p-2 text-gray-100 font-semibold rounded-lg hover:text-red-500 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i
                        class="pi 
pi-user w-5 text-2xl  text-gray-100 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
                </a>
            </li>
            <li>
                <a (click)="logout()"
                    class="flex items-center p-2 text-gray-100 font-semibold hover:text-red-500 rounded-lg cursor-pointer dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i
                        class="pi 
pi-sign-out  w-5 text-2xl  text-gray-100 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Log out</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<div class="p-4 sm:ml-64">
    <div class="p-4  border-gray-200 rounded-lg dark:border-gray-700 mt-10">
        <app-home></app-home>
    </div>
</div>