<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Change Request</title>
</head>

<body>
    <h1>Role Change Request Received</h1>
    <p>Dear <%= userName %>,</p>
    <p>We have received your request to change your role to <%= requestedRole %>. Our admin team will review your
            request and get back to you shortly.</p>
    <p>Thank you for your patience.</p>
    <p>Best regards,<br>Plana Team</p>
</body>

</html>