<app-notifications [show]="loginSuccess" [message]="loginMessage" [type]="'success'"
    (close)="loginSuccess = false"></app-notifications>
<app-notifications [show]="loginError" [message]="loginMessage" [type]="'error'"
    (close)="loginError = false"></app-notifications>
<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md relative">
    <!-- Success Message -->
    <div class="flex justify-center mb-4">
        <div class="w-16 h-16 relative">
            <div class="w-full h-full">
                <img src="logo.png" alt="Logo" class="w-full h-full object-contain">
            </div>
        </div>
    </div>
    <h2 routerLink="landing-page" class="text-center text-2xl font-semibold mb-6">Event Planner</h2>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Email Address</label>
            <input type="email" id="email" name="email" [(ngModel)]="loginData.email" required
                class="w-full px-3 py-2 mt-1 bg-gray-100 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500">
            <p *ngIf="loginForm.submitted && loginForm.controls['email'].errors?.['required']"
                class="text-red-500 text-sm font-semibold">Email is required</p>
        </div>
        <div class="mb-6">
            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required
                class="w-full px-3 py-2 mt-1 bg-gray-100 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500">
            <p *ngIf="loginForm.submitted && loginForm.controls['password'].errors?.['required']"
                class="text-red-500 text-sm font-semibold">Password is required</p>
        </div>
        <div class="flex justify-between text-sm mb-3">
            <a routerLink="/forgot-password" class="text-gray-600 hover:text-blue-500">Forgot password?</a>
            <a routerLink="/register" class="text-gray-600 hover:text-blue-500">Register</a>
        </div>
        <div class="mb-4">
            <a href="#" class="text-gray-600 hover:text-blue-500">Looking For Events?</a>
        </div>
        <button type="submit" pRipple
            class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-300">
            Sign In
        </button>
    </form>
</div>